.container_dark {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--cor-bg-secundaria);
    color: var(--cor-terciaria);
    padding: 2rem 1rem;

}

.container_barman-img {
    max-width: 100%;
}

.container_barman-link {
    color: var(--cor-terciaria);
}

h2 {
    color: var(--Button-Text, #FFFFFE);
    font-family: var(--fonte-manchete);
    font-size: 1.5rem;
    font-weight: 400;

}


@media (min-width: 1440px) {

    .container_barman {
        display: flex;
        justify-content: space-around;

    }


    h2 {
        font-size: 3rem;
        font-weight: 700;

    }

    .plantamos {
        display: flex;
        justify-content: space-around;
    }

    .ccontainer_photos-food-div {
        display: flex;
       
        
    }


}