@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anek+Kannada&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');

.clients-text {
    color: var(--cor-primaria);
font-family:var(--fonte-manchete);
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
    text-align: center;
}

.clients-brands {
    display: flex;
    justify-content: space-around;
    
}

.clients-brands-1 {
    color: var(--cor-brands);
    font-family: var(--brand1);
    font-size: 1rem;    
    font-weight: 400;
    
}

.clients-brands-2 {
    color: var(--cor-brands);
    font-family: var(--brand2);
    font-size: 1rem;    
    font-weight: 400;

}


.clients-brands-3 {
    color: var(--cor-brands);
    font-family: var(--brand3);
    font-size: 1rem;    
    font-weight: 400;

}

.clients-brands-4 {
    color: var(--cor-brands);
    font-family: var(--brand4);
    font-size: 1rem;    
    font-weight: 400;

}

.clients-brands-5 {
    color: var(--cor-brands);
    font-family: var(--brand5);
    font-size: 1rem;    
    font-weight: 400;

}

@media (min-width: 1440px) {



.clients-brands-1 {   
    font-size: 2rem;    
    font-weight: 700;
    
}

.clients-brands-2 {   
    font-size: 2rem;    
    

}


.clients-brands-3 {  
    font-size: 2rem;    
    

}

.clients-brands-4 {   
    font-size: 2rem;    
    font-weight: 700;

}

.clients-brands-5 {   
    font-size: 2rem;    
   

}

}

