.rodape {
   
    background: var(--cor-bg-secundaria);
}

.div-rodape {
    font-family: var(--fonte-texto);
    color: var(--cor-terciaria);
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;    
    
    

}
.ul-footer {
    display: inline-flex;
    flex-direction: column;   
    
    
}


.logo-rodape {
    font-family: var(--fonte-logo);
    font-weight: 400;
    font-size: 24px;
    line-height: 42px;
    color: var(--cor-secundaria);
    text-decoration: none;
}


.subtxt {
    font-family:var(--fonte-texto);    
    width: 72px;
    height: 27px;    
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}