@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.footer {
   background-color: var(--cor-bg-secundaria);
}

.footer>section {
   display: flex;
   justify-content: center;
   text-align: start;
   flex-direction: column;
   margin-left: 1rem;
}

.footer-logo {
   color: var(--cor-bg-primaria);
   font-family: var(--fonte-logo-footer);
   font-size: 2rem;
   font-weight: 400;
}


.footer_facilidades-span,
.footer_suporte-span,
.footer_endereco-span {
   color: var(--cor-footer-text);
   font-family: var(--fonte-texto);
   font-size: 1.2rem;
   font-weight: 600;
}

.footer_facilidades-list,
.footer_suporte-list,
.footer_endereco-list,
.footer-paragrafo,
.footer-rights {
   color: var(--cor-footer-text);
   font-family: var(--fonte-texto);
   font-size: 1rem;
   font-weight: 400;
   list-style: none;

}

.footer-rights {
   padding: 1rem ;
}


@media (min-width: 1440px) {


   .footer>section {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

   }

   .footer_facilidades,
   .footer_suporte,
   .footer_endereco {
      margin-top: 6rem;
   }


   .footer-rights {
      display: flex;
      justify-content: center;
      padding: 1rem 0;

   }



}