.header {
  display: none;
}

.logo-nav {
  color: var(--cor-secundaria);
  font-family: var(--fonte-logo-footer);
  font-size: 0.8rem;
  font-weight: 400;

}

.list-nav {
  list-style: none;
}



.span-nav {
  display: flex;
  padding: 1rem;
}


button {
  padding: 5px;
  background: transparent;
  border: solid 3px tomato;
  border-radius: .5rem;
  font-weight: bold;
  width: 4rem;
  cursor: pointer;
}
button:hover {
  background: #000D;
  color: white;
}

nav {
  display: none;
}

.menu-active {
  display: block
}



li {
  list-style: none;
  padding: .3rem 1rem;
}

li:hover {
  background: #0003;
}

a {
  text-decoration: none;
  color: black;
}

li:hover a {
  text-decoration: underline;
}




@media (min-width: 1440px) {

  button{
    display: none;
  }
  
  .nav {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;

  }

  .logo-nav {
    color: var(--cor-secundaria);
    font-family: var(--fonte-logo-footer);
    font-size: 1.5rem;
    font-weight: 400;
  
  }

  .list-nav {
    display: flex;
    list-style: none;
    gap: 1em;
  }

  .span-nav {
    display: flex;
  }

}