.cabecalho {
   background: var(--cor-bg-primaria);

}

.logo {
    font-family: var(--fonte-logo);
    font-weight: 400;
    font-size: 24px;
    line-height: 42px;
    color: var(--cor-secundaria);
    text-decoration: none;
    margin: 2.5em 2.5em;
    padding: 5em;
}

.link {
    font-family: var(--fonte-texto);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--cor-secundaria);
    text-decoration: none;
    margin: 0.2em 2.5em;
    padding: 0.5em;
}


