.header {
    display: none;
}


@media (min-width: 1440px) {
  .nav {
     display: flex;
     justify-content: space-around;

  }

  .list-nav {
    display: flex;
    list-style: none;
    gap: 1em;
  }

  .span-nav {
    display: flex;
  }

}



