@import url('/styles/variaveis.css');

body{
    background-color: var(--cor-bg-primaria);    
}

.main {
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
}

.main_btn {
  border-radius: 8px;
  background: var(--cor-botao, linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #8C7851);
  padding: 1rem 2rem;
  color: var(--cor-terciaria);  
}

.reservas {
    color: var(--cor-secundaria);   
}




    



