.principal {
    background: var(--cor-bg-primaria);
   
}

.section-main {
    display: flex;
}

.manchetes {
    font-family: var(--fonte-manchete);
    font-weight: 700;
    font-size: 2.5em;
    color: var(--cor-primaria);
    margin: 1em 0em;
    padding: 1em;
    
    
}

.breake {
    padding: 4em 0em;  
}

.textos {
    font-family: var(--fonte-texto);
    font-weight: 400;
    font-size: 20px;
    color: var(--cor-secundaria);
    margin: -3em 0em;
    padding: 2em;
}

.imagem-main {
    width: 30%;
}