
.section-main-1 {
    background: var(--cor-bg-primaria);
    display: flex;     
    justify-content: space-between;
    
    
}

.div-main-1 {
    display: flex;
    flex-direction: column;

}

.manchetes {
    font-family: var(--fonte-manchete);
    font-weight: 700;
    font-size: 2.5em;
    color: var(--cor-primaria);
    margin: 1em 0em;
    padding: 0em 1em;
    
    
}
 


.textos {
    font-family: var(--fonte-texto);
    font-weight: 400;
    font-size: 20px;
    color: var(--cor-secundaria);   
    padding: 1em 2em;
}

.botao-main {
    text-decoration: none;
    color: var(--cor-terciaria);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #8C7851;
    border-radius: 8px;    
    padding: 20px 40px;
    margin: 1.5em 2.2em;
    width: 18px;
    height: 8px;
    
    
}

.imagem-main-1 {
    border-radius: 30px;
    margin-top: 3.2em;
    margin-bottom: 2em;   
    width: 30%;
}

/* Segunda section*/

.section-main-2 {
    background: var(--cor-bg-secundaria);
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.sub {
    font-family: var(--fonte-manchete);
    color: var(--cor-terciaria);
    font-weight: 700;
    font-size: 48px;
    margin-top: 2em;
}

.textos-2 {
    font-family: var(--fonte-texto);
    color: var(--cor-terciaria);
    font-weight: 400;
    font-size: 20px;
    padding: 1em 0em;
   
}

.imagem-main-2 {    
    border-radius: 2.5em;
    border: 1px solid;
    height: 30%;     
    width: 30%;
    padding: 2em;
      
    
}

/*Terceira section*/

.imagem-main-3 {
    padding: 1em;
    
}

/*extra */

.section-main-3 {
    background: var(--cor-bg-secundaria);
  
}
.ul-main {
    display: flex;
    justify-content: space-around;
    padding: 2em 0em;
      
        
   
}

.imagem-main-4 {       
    margin: .5em;
    
}

/*Quarta section*/

.section-main-4 {
    background: var(--cor-bg-primaria);
    display: flex;     
    justify-content: space-between;
         
     
}

.div-main-2 {
    margin: 15em;
    
}

.sub-2 {
    font-family: var(--fonte-manchete);
    color: var(--cor-primaria);
    font-weight: 700;
    font-size: 48px;
}

.textos-3 {
    font-family: var(--fonte-texto);
    color: var(--cor-bg-secundaria);
    font-weight: 400;
    font-size: 20px;
}

.ul-main-2 {
    display: flex;
    justify-content: space-between;
    gap: 2em;    
    
}

    .imagem-main-4 {
        border-radius: 30px;
        width: 601px;
        height: 571px;        

    }

.horarios {
    font-family: var(--fonte-texto);
    color: var(--cor-bg-secundaria);
    font-weight: 400;
    font-size: 1em;
}


.imagem-mini {
    display: none;
}

@media screen and (max-width: 390px) {

    .imagem-main-1 {
       display: none;
    }

    .imagem-mini  {
        display: block;
      border-radius: 30px;
      width: 50%;
      height: 50%;
    }

    

    
}

    



