.cabecalho {  
    
    background-color: var($cor-bg-primaria);

    .logo {
       color: var($cor-secundaria);
       width: 113px;
       height: 42px;
       font-weight: 400;
       font-size: 24px;
       font-family: var($fonte-logo);

       .lista {
        display: flex;
        align-items: flex-end;
        color: var($cor-secundaria);
        width: 49px;
        height: 21px;
        font-weight: 400;
        font-size: 14px;
       }

    }
}