
.container_photos {
 background-color: var(--cor-bg-secundaria);
 color: var(--cor-terciaria); 
        
}

.container_photos-food {   
    max-width: 100%;
    margin: 0.5rem 0;
}

.container_photos-food:nth-child(1) {
   border-radius: 20px;

} 

.container_workplace-photos-room {
    max-width: 100%;
    margin: 0.5rem 0;
}

.container_workplace-photos-room:nth-child(1) {    
    border-radius: 20px;     
}

.container_workplace-texts-information {
    display: flex;
    gap: 1rem;
}

.container_workplace-texts-information-place {
    display: flex;    
    align-items: center;
    gap: 1rem;
}
  




