.container_photos {
    background-color: var(--cor-bg-secundaria);
    color: var(--cor-terciaria);

}

.container_photos-food-div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container_photos-food {
    max-width: 100%;
    margin: 0.5rem 0;
}

.container_photos-food:nth-child(1) {
    border-radius: 20px;

}

/*WorkPlace*/

.container_workplace-texts-paragrafo {
    color: var(--cor-secundaria);
    font-family: var(--fonte-texto);
    font-size: 1rem;
    font-weight: 400;

}

.container_workplace-texts-information-numbers {
    color: var(--cor-secundaria);
    font-family: var(--fonte-texto);
    font-size: 2rem;
    font-weight: 400;
}

.container_workplace-texts-information-text {
    color: var(--cor-secundaria);
    font-family: var(--fonte-texto);
    font-size: 1rem;
    font-weight: 400;


}

.container_workplace-photos {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.container_workplace-photos-room {
    max-width: 100%;
    margin: 0.5rem 0;
}

.container_workplace-photos-room:nth-child(1) {
    border-radius: 20px;
}

.container_workplace-texts-information {
    display: flex;
    gap: 1rem;
}

.container_workplace-texts-information-place {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.container_workplace-texts {
    color: var(--cor-primaria);
    font-family: var(--fonte-manchete);
    font-size: 2rem;
    font-weight: 400;

}



@media (min-width: 1440px) {

    .container_workplace-div {
        display: flex;
        justify-content: space-around;
        margin-top: 2rem;

    }


    .container_photos-food-div {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .container_workplace-texts {
        font-size: 3rem;
        font-weight: 700;

    }

    .container_workplace-photos {
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 2rem;
    }


}