@import url('/styles/estilos/header.css');
@import url('/styles/estilos/main.css');
@import url('/styles/estilos/footer.css');

:root {
/* Fontes */
--fonte-logo: 'Merienda', cursive;
--fonte-manchete:'Libre Baskerville', serif;
--fonte-texto:'Poppins', sans-serif;;

/* Cores*/
--cor-primaria: #020826;
--cor-secundaria: #716040;
--cor-terciaria: #ffffff;
--cor-botao: #8C7851;


--cor-bg-primaria:#F9F4EF;
--cor-bg-secundaria:#020826;



}