@import url('/styles/estilos/header.css');
@import url('/styles/estilos/main.css');
@import url('/styles/estilos/barman.css');
@import url('/styles/estilos/photos-food.css');
@import url('/styles/estilos/clients.css');
@import url('/styles/estilos/footer.css');

:root {
/* Fontes */
--fonte-logo: 'Merienda', cursive;
--fonte-manchete:'Libre Baskerville', serif;
--fonte-texto:'Poppins', sans-serif;
--fonte-logo-footer:'Pacifico', cursive;

/* Cores*/
--cor-primaria: #020826;
--cor-secundaria: #716040;
--cor-terciaria: #ffffff;
--cor-botao: #8C7851;
--cor-footer-text:#F6FAFF;
--Button-Text:#fff;



--cor-bg-primaria:#F9F4EF;
--cor-bg-secundaria:#020826;


/*clients*/
--cor-brands: #B6B6B6;

--brand1:'KoHo', sans-serif;
--barnd2:'Anek Kannada', sans-serif;
--brand3:'Lobster', sans-serif;
--brand4:'Kadwa', serif;
--brand5:'Joti One', serif;


}