:root {
/* Fontes */
--fonte-logo: 'Merienda', cursive;
--fonte-manchete:'Libre Baskerville', serif;
--fonte-texto:'Libre Baskerville', serif;

/* Cores*/
--cor-primaria: #020826;
--cor-secundaria: #716040;
--cor-terciaria: #ffffff;

--cor-bg-primaria:#F9F4EF;
--cor-bg-secundaria:#020826;



}